<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问   
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="proxy_base_url" value="http://192.168.1.200"/>
  </appSettings>
  <system.web>
    <httpRuntime enableVersionHeader="false"/>
    <compilation debug="true" targetFramework="4.0"/>
    <httpHandlers>
      <add path="*" verb="*" type="Proxy.Do" validate="true"/>
    </httpHandlers>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add path="*" verb="*" name="Do" type="Proxy.Do" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>